p {
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif
}
h1 {
    color:darkred;
    text-align: center;
    /* font-size: 20px; */
}
body {
    background-color: lightcyan;
}
h3 {
    background-color: aqua;
    text-align: center;
} 
.highlight {
    background-color: greenyellow;
}
.sidetext {
    background-color: aquamarine;
}
#sidetext01 {
    background-color: rgb(44, 72, 72);
    color: whitesmoke;
}
#topmove {
    text-align: center;
}
#Poetic {
    font-size: 23px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
#high {
    width: 10px;
}
#testhand {
    width: 70px;
    height: 90px;
    border : 2px solid rgb(20, 20, 87);
    background-color: pink;
    padding: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
    display: inline;
}
#testhand1 {
    width: 70px;
    height: 125px;
    border : 2px solid rgb(20, 20, 87);
    background-color: pink; 
    padding: 20px;
    padding-bottom: 50px;
    margin: 5px;
    text-align: center;
    background-color: rgba(255, 192, 203, 0.75)
}
#testhand2 {
    width: 70px;
    height: 200px;
    border : 2px solid rgb(20, 20, 87);
    background-color: pink;
    padding: 140px;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
}

}